<script setup>
import {useStore} from '/src/store/Store.js'
import {ref} from "vue";

const Store = useStore()

let isActiveTab = ref(0)

function searchIndex(item) {
  isActiveTab.value = arrText.indexOf(item)
}

const isActiveMenuDot = ref(false)

const arrText = ["Преимущества Tele2", "Тарифы", "Акции и спецпредложения", "Промотариф Tele2", "Технология eSIM", "Подключение нового абонента"]
</script>


<template>
  <div class="header">
    <div class="container">
      <div class="header-inner">
        <div class="header-inner__img"></div>

        <div class="header-inner-box">
          <div class="header-inner__map">
            Москва и область
          </div>

          <div class="header-inner-notice" v-if="!isActiveMenuDot" :class="[Store.activeNotice === true ? '_active' : '']"
               @click="() => {
                Store.activeNotice = false;
              }">
          </div>

          <div class="header-inner-btn__close" v-if="isActiveMenuDot" @click="isActiveMenuDot = !isActiveMenuDot"></div>

          <div class="header-inner-btn" v-if="!isActiveMenuDot" @click="isActiveMenuDot = !isActiveMenuDot"></div>
        </div>
      </div>

      <div class="header-menu">
        <ul class="header-menu-list" :class="{_active: isActiveMenuDot}">
          <li v-for="(item, index) of arrText" :key="index" class="header-menu-list-item"
                :class="[index === isActiveTab ? '_active' : '']"
                @click="() => {
                searchIndex(item);
                Store.setActiveTab();
                Store.activeNotice = true;
              }">
            <a class="header-menu-list-item__link"
            >
              {{ item }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "Header";
</style>