.header {
  overflow-x: hidden;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      background-color: #1F2229;
      height: 40px;
      top: 0;
      left: -100%;
      width: 3000px;
      z-index: -1;
    }

    &-btn {
      display: none;

      @media (max-width: 860px) {
        display: block;
        background: url("/src/assets/img/svg/menu-dot.svg");
        width: 18px;
        height: 15px;
        margin-left: 18px;
        cursor: pointer;
      }

      &__close {
        display: none;

        @media (max-width: 860px) {
          display: block;
          background: url("/src/assets/img/svg/close.svg");
          width: 24px;
          height: 24px;
        }
      }
    }

    &-box {
      display: flex;
      align-items: center;
    }

    &__map {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      color: var(--grey);
      position: relative;
      cursor: pointer;

      @media (max-width: 860px) {
        display: none;
      }

      &:before {
        position: absolute;
        content: "";
        background: url("/src/assets/img/svg/Search.svg");
        width: 22px;
        height: 22px;
        top: -2px;
        left: -25px;
      }
    }

    &-notice {
      background: url("/src/assets/img/svg/Notification.svg");
      width: 27px;
      height: 27px;
      margin-left: 32px;
      cursor: pointer;
      transform: rotate(30deg);

      &._active {
        animation: bell 1s 1s both infinite;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          background: url("/src/assets/img/svg/inbox.svg");
          width: 10px;
          height: 10px;
          top: 2px;
          right: 7px;
        }
      }

      @keyframes bell {
        0% {
          transform: rotate(30deg);
        }
        10% {
          transform: rotate(0deg);
        }
        20% {
          transform: rotate(30deg);
        }
        80% {
          transform: rotate(30deg);
        }
        90% {
          transform: rotate(60deg);
        }
        100% {
          transform: rotate(30deg);
        }
      }
    }

    &__img {
      background: url("/src/assets/img/svg/logo.svg");
      width: 56px;
      height: 23px;
    }
  }

  &-menu {
    &-list {
      padding: 13px 0;
      border-bottom: 1px solid #D3D9DF;

      @media (max-width: 860px) {
        display: none;
      }

      &._active {
        display: flex;
        flex-direction: column;
        padding: 0;
        border-bottom: none;
        margin-top: 24px;

        .header-menu-list-item__link {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          color: var(--light-grey);
          width: 100%;
          display: block;
        }

        .header-menu-list-item + .header-menu-list-item {
          margin-left: 0;
          margin-top: 16px;
        }

        .header-menu-list-item._active {
          padding-bottom: 0;
          border-bottom: 2px solid var(--black);


          .header-menu-list-item__link {
            padding-bottom: 7px;
          }
        }

        .header-menu-list-item {
          border-bottom: 1px solid var(--light-grey);
          padding-bottom: 8px;
        }
      }

      &-item {
        display: inline-block;

        &._active {
          .header-menu-list-item__link {
            color: var(--black);
            border-bottom: 2px solid var(--black);
            padding-bottom: 13px;

            @media (max-width: 860px) {
              border-bottom: none;
            }
          }
        }

        & + & {
          margin-left: 18px;
        }

        &__link {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: var(--grey);
          cursor: pointer;
        }
      }
    }
  }

  .btn_active {
    a {
      color: var(--active);
      transition: 0.2s all;
    }
  }
}